.container
    width: 100%
    max-width: $container-width
    margin: 0 auto
    position: relative

.row
    display: flex
    flex-wrap: wrap

.col 
    width: 100%

$seven-eighths: 8 / 7
.col-seven-eighths
    width: calc(100%/#{$seven-eighths})

$six-sevenths: 7 / 6
.col-six-sevenths
    width: calc(100%/#{$six-sevenths})

$five-sixths: 6 / 5
.col-five-sixths
    width: calc(100%/#{$five-sixths})

$four-fifths: 5 / 4

.col-four-fifths
    width: calc(100%/#{$four-fifths})

$three-quarters: 4 / 3

.col-three-quarters
    width: calc(100%/#{$three-quarters})

.col-two-thirds
    width: calc(100%/1.5)

.col-half 
    width: calc(100%/2)

.col-third 
    width: calc(100%/3)

.col-quarter
    width: calc(100%/4)

.col-fifth 
    width: calc(100%/5)

.col-sixth
    width: calc(100%/6)

.col-seventh 
    width: calc(100%/7)

.col-eighth
    width: calc(100%/8)

.col
.col-half,
.col-third,
.col-quarter,
.col-fifth,
.col-sixth,
.col-seventh,
.col-eighth
    display: flex
    flex-direction: column

.spaced-between-horizontal
    width: calc(100% + #{$spacing})

.spaced-between-horizontal > *
    padding-right: $spacing

.spaced-between-horizontal > *:last-of-kind
    padding-right: 0px

.spaced-between-vertical > *
    padding-bottom: $spacing

.spaced-between-vertical > *:last-of-kind
    padding-bottom: 0px

.hero
    align-items: stretch
    display: flex
    flex-direction: column
    justify-content: center

.hero.half 
    height: 50vh

.hero.full
    height: 100vh

@media screen and (max-width: $mobile)
    .col-half,
    .col-third,
    .col-quarter,
    .col-fifth,
    .col-sixth,
    .col-seventh,
    .col-eighth
        width: 100%

    .spaced-between-horizontal
        width: 100%
        
    .spaced-between-horizontal > *
        padding-right: 0px